body{
font-family: 'Montserrat', sans-serif;
}

.column {
	padding-left: 1px;
	padding-right: 1px;
}

.logo{
background-color: #CB002A;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
overflow: auto;
z-index: 1;
color: white;
text-align: center;
padding-top: 30vh;
	padding-bottom: 50vh;
}

.right {
	font-size: 40px;
}

.logo2 {
		text-align: center;
		color:#F40025;
		border-bottom: 1px solid#F40025;
		font-weight: 400;

		
}
.logo2 img {
	width: 10%;
	padding-top: 2%;
}
.logo2-type {
	font-size: 38px;
}

.map {
	margin-top: 10%;
	min-height: 200px;

}

.glyphicon-search{
	margin-left: 5%;
}

.select {
width: 100%;
}

.title2 {
	font-weight: 200;
	font-size: 18px;
	text-align: center;
	margin-top: -5%;
}

.img{
	margin-top: 10%;
}

.img2{
	margin-top: 0;
}

/*efecto comidas chilenas*/
#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6 {
    width: 86%;
    height: 81%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    z-index: 1;
    opacity: 0.5;
    display:none;
    position: absolute;
}

/*efecto comidas mexicana*/
#overlay-m1, #overlay2-m2, #overlay3-m3, #overlay4-m4, #overlay5-m5, #overlay6-m6 {
    width: 86%;
    height: 81%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    z-index: 1;
    opacity: 0.5;
    display:none;
    position: absolute;
}

/*efecto comidas colombiana*/
#overlay-c1, #overlay2-c2, #overlay3-c3, #overlay4-c4, #overlay5-c5, #overlay6-c6 {
    width: 86%;
    height: 81%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    z-index: 1;
    opacity: 0.5;
    display:none;
    position: absolute;
}

#myModalLabel {
	text-align: center;
}

.modal-body iframe {

}

.modal-body p {
	text-align: center;
}

.phrase {
	color:orange;
}

.direction, .prizes{
	font-size: 11px;

}

.btn-orange {
 background-color: #FD6625;
 font-size: 14px;
 color:white;

}
